{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
         <div class="col-md-6 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
            </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
<p>Welcome to FlavorRide, where culinary excellence meets convenience in the palm of your hand. Our innovative food delivery app is here to redefine the way you enjoy your favorite meals, offering a seamless and delightful experience from start to finish.</p>
<p>At FlavorRide, we understand that food is more than just sustenance; it's an experience, a journey of flavors and aromas that tantalize the senses and ignite the soul. That's why we've curated a diverse selection of top-rated restaurants, each offering a unique culinary adventure that caters to every palate and preference.</p>
<p>
    Experience Seamless Ordering: With FlavorRide, enjoy the convenience of effortless food ordering. Explore our vast array of menu options, spanning diverse cuisines and dishes tailored to satisfy every craving. Whether you're yearning for beloved comfort food classics or seeking adventurous flavors from around the globe, FlavorRide has you covered. Additionally, benefit from personalized recommendations tailored to your preferences. Let FlavorRide serve as your culinary concierge, utilizing our intelligent recommendation system to curate the perfect meal for any occasion based on your past orders, taste preferences, and dining habits. Moreover, stay connected every step of the way with real-time order tracking. From the moment you place your order to its arrival at your doorstep, FlavorRide provides live updates, ensuring you're always in the loop and enabling you to plan your dining experience with ease.</p>

        </div>
    </div> 
</div>

{% endblock content%}            